.home{
  &__block1{
    &__title{
      @extend .fz-48;
      color: #ffffff;
      font-family: $font-HelveticaNeue-Bold;
      line-height: 1.21;
    }
    &__title1{
      @extend .fz-28;
      color: #ffffff;
      line-height: 1.51;
      font-family: $font-HelveticaNeue-Bold;
    }
    &__desc{
      @extend .fz-18;
      color: #ffffff;
      line-height: 1.67;
      @include media-breakpoint-up('m'){
        margin-bottom: 50px;
      }
    }
    &__box{
      background-image: linear-gradient(to top, #03228f, #0c62d2);
      $x: 14px;
      $x: calc(100% - #{$x});
      clip-path: polygon(100% 0, 100% #{$x}, #{$x} 100%, 0 100%, 0 0);
      @include media-breakpoint-up('m'){
        padding: 25px;
      }
      span{
        color: #ffffff;
        @extend .fz-18;
        line-height: 1.44;
        font-family: $font-HelveticaNeue-Medium;
      }
    }
  }
  &__block2{
    &__box{
      @include media-breakpoint-up('m'){
        border-radius: 15px;
        padding: 25px;
      }
      background-color: #001b48;
      &__bg{
        max-width: 66px;
        width: 100%;
      }
      &__txt{
        line-height: 1.5;
        @extend .fz-16;
        color: #ffffff;
        font-family: $font-HelveticaNeue-Bold;
      }
    }
  }
}