.home{
  &__block1{
    &__title{
      @extend .fz-48;
      color: #ffffff;
      font-family: $font-HelveticaNeue-Bold;
      line-height: 1.21;
    }
    &__title1{
      @extend .fz-28;
      color: #ffffff;
      line-height: 1.51;
      font-family: $font-HelveticaNeue-Bold;
    }
    &__desc{
      @extend .fz-18;
      color: #ffffff;
      line-height: 1.67;
      @include media-breakpoint-up('m'){
        margin-bottom: 50px;
      }
    }
    &__box{
      background-image: linear-gradient(to right, #03228f, #0c62d2);
      $x: 14px;
      $x: calc(100% - #{$x});
      clip-path: polygon(100% 0, 100% #{$x}, #{$x} 100%, 0 100%, 0 0);
      @include media-breakpoint-up('m'){
        padding: 25px;
      }
      span{
        color: #ffffff;
        @extend .fz-18;
        line-height: 1.44;
        font-family: $font-HelveticaNeue-Medium;
      }
    }
  }
  &__block2{
    &__box{
      @include media-breakpoint-up('m'){
        border-radius: 15px;
        padding: 25px;
      }
      background-color: #001b48;
      &__bg{
        max-width: 66px;
        width: 100%;
      }
      &__txt{
        line-height: 1.5;
        @extend .fz-16;
        color: #ffffff;
        font-family: $font-HelveticaNeue-Bold;
      }
    }
  }
  &__block3{
    &__box2{
      $x: 64px;
      width: calc(100% - #{$x});
      height: calc(100% - #{$x});
      background-color: rgba(#00173e,0.3);
      &__c1{
        $y: 1.01;
        width: calc(100% - #{$x} * #{$y});
        height: calc(100% - #{$x} * #{$y});
        background-color: #1463de;
        >*{
          color: #ffffff;
          @extend .fz-48;
          font-family: $font-HelveticaNeue-Bold;
          line-height: 1.21;
        }
      }
    }
    &__item{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #000f39;
      $x: 40px;
      $y: #{$x};
      $x: calc(100% - #{$x});
      clip-path: polygon(#{$x} 0, 100% 50%, #{$x} 100%, 0 100%, 0 0);
      padding-right: calc(#{$y} + 7px);
      @include media-breakpoint-up('m'){
        $x: 54px;
        $y: #{$x};
        $x: calc(100% - #{$x});
        clip-path: polygon(#{$x} 0, 100% 50%, #{$x} 100%, 0 100%, 0 0);
        padding-right: calc(#{$y} + 7px);
      }
      &:nth-child(n+2){
        margin-top: 10px;
        @include media-breakpoint-up('m'){
          margin-top: 21px;
        }
      }
      &:nth-child(1){

      }
      &:nth-child(2){
        @include media-breakpoint-up('m'){
          margin-left: 93px;
        }
      }
      &:nth-child(3){
        @include media-breakpoint-up('m'){
          margin-left: 118px;
        }
      }
      &:nth-child(4){
        @include media-breakpoint-up('m'){
          margin-left: 72px;
        }
      }
      &:nth-child(5){

      }
    }
    &__box1{
      background-image: linear-gradient(to right, #03228f, #1b7eff);
      $x: 60px;
      width: #{$x};
      height: #{$x};
      @include media-breakpoint-up('m'){
        $x: 105px;
        width: #{$x};
        height: #{$x};
      }
      >*{
        line-height: 1.2;
        color: #ffffff;
        @extend .fz-64;
        font-family: $font-HelveticaNeue-Bold;
      }
    }
    &__txt1{
      @extend .fz-16;
      font-family: $font-HelveticaNeue-Bold;
      line-height: 1.5;
      color: #ffffff;
    }
  }
  &__block4{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
    background-color: #00173e;
    @include media-breakpoint-up('m'){
      border-radius: 15px;
    }
    .uk-icon{
      svg{
        >*{
          stroke: #1463de !important;
        }
        path{

        }
      }
    }
    &__box1{
      //background-image: linear-gradient(to bottom, #308dff, #308dff), linear-gradient(to top, #03228f, #0c62d2);
      background-image: linear-gradient(to top, #03228f, #0c62d2);
      padding: 4px 10px;
      color: #ffffff;
      &__txt1{
        font-family: $font-HelveticaNeue-Bold;
        @extend .fz-22;
        line-height: 1.43;
      }
      &__txt2{
        @extend .fz-15;
        line-height: 1.3;
      }
    }
    &__txt1{
      @extend .home__block4__ul1__li;
      font-family: $font-HelveticaNeue-Bold;
    }
    &__ul1{
      &__li{
        @extend .fz-16;
        line-height: 1.43;
        color: #ffffff;
        &:before{
          height: 12px;
        }
      }
    }
    &__title{
      @extend .fz-26;
      line-height: 1.15;
      font-family: $font-HelveticaNeue-Bold;
      color: #ffffff;
      margin-bottom: 15px;
      @include media-breakpoint-up('m'){
        margin-bottom: 33px;
      }
    }
  }
  &__block5{
    &__title2{
      @extend .fz-28;
      color: #308dff;
      line-height: 1.54;
      font-family: $font-HelveticaNeue-Light;
    }
    &__box1{
      &:before{
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to top, #165ba9, #2683ed);
        border-image-slice: 1;
        //background-image: linear-gradient(to bottom, #ed711f, #ed711f), linear-gradient(to top, #165ba9, #2683ed);
        background-origin: border-box;
        background-clip: content-box, border-box;
        position: absolute;
        left: -10px;
        bottom: -10px;
      }
    }
    &__list{
      >li{
        margin: 0 !important;
        &:before{
          background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='%23308dff' cx='3' cy='3' r='3' /%3E%3C/svg%3E");
        }
        color: #ffffff;
        @extend .fz-16;
        line-height: 1.5;
        span{
          font-family: $font-HelveticaNeue-Bold;
          color: #ed711f;
        }
      }
    }
  }
  &__block6{
    &__txt1{
      @extend .fz-16;
      line-height: 1.5;
      font-family: $font-OpenSans-Bold;
      color: #ffffff;
    }
    &__txt2{
      @extend .home__block6__txt1;
      color: rgba(#fff,0.7);
      font-family: $font-OpenSans !important;
    }
    &__list{
      $x1: 20px;
      &__li{
        &.uk-active{
          &:before{
            background-color: #1463de;
          }
          &:after{
            content: "";
            width: 1px;
            height: calc(100% + #{$x1});
            background-color: #1463de;
            position: absolute;
            top: 13px;
            left: 5px;
            opacity: 1;
          }
          &:nth-last-child(2){
            &:after{
              opacity: 0;
            }
          }
        }
      }
      >li{
        padding-left: 20px;
        @include media-breakpoint-up('m'){
          padding-left: 27px;
        }
        position: relative;
        &:before{
          content: "";
          position: absolute;
          top: 7px;
          left: 0;
          $x: 10px;
          width: #{$x};
          height: #{$x};
          background-color: #fff;
          border-radius: 50%;
        }
        &:nth-child(n+2){
          margin-top: #{$x1};
        }
      }
    }
  }
  &__block7{
    &__box1{
      background-image: linear-gradient(to top, #03228f, #0c62d2);
      padding: 3px 15px;
      color: #ffffff;
      >*{
        line-height: 1.33;
        @extend .fz-18;
        font-family: $font-HelveticaNeue-Bold;
      }
    }
    &__item{
      position: relative;
      &:before{
        .column1:nth-child(n+2) &{
          content: "";
          width: calc(100% - 60px);
          height: 1px;
          border-radius: 0.5px;
          background-color: #1463de;
          position: absolute;
          top: 50%;
          right: calc(100% - 72px);
          transform: translateY(-50%);
          display: inline-block;
          opacity: 0;
          @include media-breakpoint-up('m'){
            opacity: 1;
          }
        }
      }
      .uk-flex-1{
        @include media-breakpoint-up('m'){
          min-height: 149px;
        }
      }
      >*{
        &:nth-child(n+2){
          margin-top: 20px;
          @include media-breakpoint-up('m'){
            margin-top: 0;
          }
        }
        &:nth-child(2){
          $x2: 23px;
          margin-top: #{$x2};
          margin-bottom: #{$x2};
        }
      }
      &__number{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        background-color: #1463de;
        >*{
          line-height: 1.49;
          @extend .fz-38;
          font-family: $font-HelveticaNeue-Bold;
          color: #ffffff;
        }
      }
      &__txt1{
        @extend .home__block7__item__txt2;
        font-family: $font-HelveticaNeue-Bold;
        color: #ffffff !important;
      }
      &__txt2{
        line-height: 1.5;
        @extend .fz-16;
        color: rgba(#ffffff,0.8);
      }
      &__img{
        width: 149px;
        height: 149px;
        background-color: #001b48;
      }
    }
  }
}