.header{
  .uk-sticky-below &{
    //background-color: rgba(#fff,0.9);
    background-image: linear-gradient(to right,#03228f,#0c62d2);
    position: static !important;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
    //background-color: #00173e;
  }
  .uk-logo{
    img{
      height: 50px;
      @include media-breakpoint-up('m'){
        height: 57px;
      }
    }
  }
  &__itemLine{
    position: relative;
    &:nth-child(n+2){
      &:before{
        content: "";
        width: 1px;
        height: 13px;
        background-color: #fff;
        opacity: 0;
        @include media-breakpoint-up('m'){
          opacity: 1;
        }
        .uk-sticky-below &{
          //background-color: #000000;
        }
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__socialLink{
    color: #ffffff;
    .uk-sticky-below &{
      //color: #000000;
    }
  }
  &__btnRegis{
    text-transform: inherit;
    @extend .fz-16;
    color: #ffffff;
    background-image: linear-gradient(to top, #dd4c23, #f17a1e);
    font-family: $font-SVN-Gilroy-Bold;
    line-height: 33px;
    padding: 0 15px;
    @include media-breakpoint-up('m'){
      padding: 0 30px;
    }
  }
  .uk-navbar-nav{
    >li{
      &.uk-active{
        >a{
          color: yellow;
        }
      }
      >a{
        color: #ffffff;
        .uk-sticky-below &{
          //color: #000000;
        }
        text-transform: inherit;
        font-family: $font-HelveticaNeue-Bold;
        @extend .fz-16;
        letter-spacing: -0.4px;
      }
    }
  }
}