/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Arial Regular';
  font-display: auto;
  src:local('Arial Regular'), url('fonts/Arial/arial.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * OpenSans
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Open Sans Regular';
  font-display: auto;
  src:local('Open Sans Regular'), url('fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Open Sans Bold';
  font-display: auto;
  src:local('Open Sans Bold'), url('fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * HelveticaNeue
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'Helvetica Neue Regular';
  font-display: auto;
  src:local('Helvetica Neue Regular'), url('fonts/Fonts/HELVETICANEUE.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Helvetica Neue Bold';
  font-display: auto;
  src:local('Helvetica Neue Bold'), url('fonts/Fonts/HELVETICANEUE-BOLD.OTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Helvetica Neue Medium';
  font-display: auto;
  src:local('Helvetica Neue Medium'), url('fonts/Fonts/HELVETICANEUEMEDIUM.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Helvetica Neue Light';
  font-display: auto;
  src:local('Helvetica Neue Light'), url('fonts/Fonts/HELVETICANEUELIGHT.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/**
 * --------------------------------------------------------------------
 * SVN-Gilroy
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SVN-Gilroy Bold';
  font-display: auto;
  src:local('SVN-Gilroy Bold'), url('fonts/SVN-Gilroy-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}