// Fonts families
$font-HelveticaNeue: 'Helvetica Neue Regular',sans-serif;
$font-HelveticaNeue-Bold: 'Helvetica Neue Bold',sans-serif;
$font-HelveticaNeue-Medium: 'Helvetica Neue Medium',sans-serif;
$font-HelveticaNeue-Light: 'Helvetica Neue Light',sans-serif;
$font-SVN-Gilroy-Bold: 'SVN-Gilroy Bold',sans-serif;
$font-OpenSans: 'Open Sans Regular',sans-serif;
$font-OpenSans-Bold: 'Open Sans Bold',sans-serif;
//$font-secondary: 'Playfair Display',sans-serif;

// Font-size base
$base-font: 14px !default;
$base-design-font: 16px !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;
